*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-size: cover;
    background-color: white;
}

.campoEnter{
    position: fixed;
    left: 33rem;
    bottom: 0px;
}

#geral{
    height: 5rem;
    width: 28.1rem;
    font-size: 1.8rem;
}

#enter{
    position: absolute;
    background-color: blue;
    border-radius: 100%;
    height: 4.38rem;
    width: 4.38rem;
    border: 2px solid black;
    top: 0.31rem;
    left: 28.44rem;
}


#enter:hover{
    background-color: cyan;
    cursor: pointer;
}


.respostas{
    background-color: blue;
    position:absolute;
    width: 28.1rem;
    height: 100rem;
    left: 33rem; 
}

.pergunta{
    margin-left: 5px;
    background: #7e57c2;
    font-family: 'open sans';
    font-size: 0.85em;
    line-height: 1.6em;  
    border-radius: 15px;
    width: 300px;
    height: auto;
    color: #fff;
    padding: 20px;
    position: relative;
    margin-top: 20px;
}

.resposta{
    margin-left: 145px;
    background: #b58dfb;
    font-family: 'open sans';
    font-size: 0.85em;
    line-height: 1.6em;  
    border-radius: 15px;
    width: 300px;
    height: auto;
    color: #fff;
    padding: 20px;
    position: relative;
    margin-top: 20px;
}

#r1{display: none;}

#p2{display: none;}

#r2{display: none;}

#p3{display: none;}

#r3{display: none;}

#p4{display: none;}

#r4{display: none;}

#p5{display: none;}

#r5{display: none;}


